*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
  }
.container{
    width: 25%;
    height: 95vh;
    background: #0f2836;
    opacity:80% ;
    border-radius: 20px;
    box-shadow: 0px 25px 60px rgba(0,0,0,0,.5);

}
h5{
    text-align: center;
    margin-top: 2px;
    font-size: 20px;
    color: #f6f6f6;
}
h6{
    text-align: center;
    margin-top: 2px;
    font-size: 10px;
    color: #0a0a0a;
}
img{
    width: 80%;
    height: 50%;
    margin: 10% 10% 5% 10%;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(0,0,0,.4);
}
p{
    margin: 3%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: #f6f6f6;
}
input{
    width: 80%;
    margin: 2% 10%;
}
button{
        padding: 20px;
        text-align: center;
        margin-top: 2%;
        margin-left: 13%;
        margin-bottom: 4%;
        border-radius: 50% ;
       background: transparent;
       border: none;
       box-shadow: 5px 5px 10px rgba(0,0,0,.5),-1px -1px 1px white;
    }
button:hover{
    box-shadow: inset 5px 5px 10px  rgba(0,0,0,.5),1px 1px 1px white;
}
marquee{
    margin-left: 10%;
    letter-spacing: 2px;
    color:#f6f6f6;
    font-weight: 600;
    font-family: sans-serif;
}
.container {
    position: relative;
}

.button-container {
    position: absolute;
    top: 50%;
    right: -40px; /* Adjust the distance from the right side as needed */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button-container button {
    font-size: 14px;
    padding: 5px 10px;
}

.liked i {
    color: red; /* Change the color to red when liked */
    animation: pulse 0.5s ease infinite; /* Add a pulse animation when liked */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
